PORT=3000
NODE_ENV=production

CAN_CREATE_DATABASE=0
CAN_DROP_DATABASE=0
CAN_SEED_DATABASE=0
RATE_LIMIT_MAX=1000

# Database
DATABASE_URL=mongodb://localhost:27017/staterkit
DATABASE_NAME=staterkit

# Server
FASTIFY_CLOSE_GRACE_DELAY=1000
LOG_LEVEL=info
BETTER_AUTH_SECRET=your_auth_secret_here

# Security
COOKIE_SECRET=your_cookie_secret_here
COOKIE_NAME=your_cookie_name_here
RATE_LIMIT_MAX=4 # 4 for tests

# Static
UPLOAD_DIRNAME=uploads
UPLOAD_TASKS_DIRNAME=uploads

# Better Auth
CORS_ORIGIN=http://localhost:3001

# Email
MAIL=your_email@example.com
PASS=your_email_password_here
APP_NAME=create-t3-angular
SUPPORTMAIL=support@example.com
IMAGEURL=your_image_url_here
MAIL_FOOTER=Copyright © 2023 Your Company. All rights reserved

# Bucket Info
S3_ENDPOINT=https://your-s3-endpoint.com/
S3_SECRET_KEY=your_s3_secret_key_here
S3_ACCESS_ID=your_s3_access_id_here
S3_REGION=your_s3_region
S3_BUCKET=your_s3_bucket_name

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here
REDIS_URI=your_redis_uri_here

# SMTP
SMTP_HOST=your_smtp_host.com
SMTP_PORT=465
SMTP_USER=your_smtp_user@example.com
SMTP_PASS=your_smtp_password_here
